{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content content-two">

        <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
            <div class="my-auto mb-2">
                <h3 class="mb-1">Add Lesson</h3>
                <nav aria-label="breadcrumbs">
                    <ol class="custom-breadcrumb">
                        <li class="custom-breadcrumb-item"><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
                        <li class="custom-breadcrumb-item"><a href="{% url 'dashboard-course' %}">Course</a></li>
                        <li class="custom-breadcrumb-item"><a href="">Subject</a></li>
                        <li class="custom-breadcrumb-item"><a href="#">Chapter</a></li>
                        <li class="custom-breadcrumb-item"><a href="#">Lesson </a></li>
                        <li class="custom-breadcrumb-item"><a href="#">Folder </a></li>
                        <li class="custom-breadcrumb-item"><a href="#">Add Lesson </a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Django form handling -->
                <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <!-- Header Section -->
        <div class="card-header bg-light">
            <div class="d-flex align-items-center">
                <span class="bg-white avatar avatar-sm me-2 text-gray-7 flex-shrink-0">
                    <i class="bi bi-info-circle"></i>
                </span>
                <h4 class="text-dark">Lesson Information</h4>
            </div>
        </div>
    
        <!-- Card Body -->
        {% load crispy_forms_tags %}
        <div class="card-body pb-1">
            <!-- Custom Image Upload Field with Preview -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="d-flex align-items-center flex-wrap row-gap-3 mb-3">
                        <div id="image-preview-container" class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                            {% if form.image.value %}
                                <img id="image-preview" src="{{ form.image.value.url }}" alt="Profile Image" style="width: 100px; height: 100px; object-fit: cover;">
                            {% else %}
                                <i class="bi bi-image fs-16"></i>
                            {% endif %}
                        </div>
                        <div class="profile-upload">
                            <div class="profile-uploader d-flex align-items-center">
                                <div class="drag-upload-btn mb-3">
                                    Upload
                                    {{ form.image }}
                                </div>
                            </div>
                            <p class="fs-12">Upload image size 4MB, Format JPG, PNG, SVG</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Form Fields Rendering -->
            <div class="row">
                <!-- Chapter Fields -->
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.lesson_name|as_crispy_field }}
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.visible_in_days|as_crispy_field }}
    
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.m3u8_title|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.m3u8_url|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.m3u8_is_downloadable|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.m3u8_is_free|as_crispy_field }}
                    </div>
                </div>
            </div>
            <!-- Section Toggles -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="showVideo">
                        <label class="form-check-label" for="showVideo">
                            <i class="fas fa-video me-2"></i>Add Video
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="showPdf">
                        <label class="form-check-label" for="showPdf">
                            <i class="fas fa-file-pdf me-2"></i>Add PDF
                        </label>
                    </div>
                </div>
            </div>

            <!-- Video Fields -->
            <div class="row mb-3" id="videoSection" style="display: none;">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.video_title|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.video_url|as_crispy_field }}
                    </div>
                </div>
               
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.m3u8|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.tp_stream|as_crispy_field }}
                    </div>
                </div>
                
                <!-- More Video Fields -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.video_is_free|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.m3u8_is_downloadable|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.video_is_downloadable|as_crispy_field }}
                        </div>
                    </div>
                   
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.m3u8_is_free|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- PDF Note Fields -->
            <div class="row mb-3" id="pdfSection" style="display: none;">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.pdf_title|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.pdf_file|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.pdf_is_downloadable|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.pdf_is_free|as_crispy_field }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
            </div>		
            </div>
        </div>
        
    </div>
    

    <div class="text-end mt-4">
        <button type="button" class="btn btn-light me-3" onclick="window.history.back();">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
            </div>
        </div>
        
    </div>
</div>

</div>


<!-- JavaScript for toggle functionality -->
<script>
    document.getElementById('showVideo').addEventListener('change', function() {
        document.getElementById('videoSection').style.display = this.checked ? 'flex' : 'none';
    });

    document.getElementById('showPdf').addEventListener('change', function() {
        document.getElementById('pdfSection').style.display = this.checked ? 'flex' : 'none';
    });
</script>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        var imageInput = document.querySelector('input[type="file"].image-sign');
        var imagePreview = document.getElementById('image-preview');
        var imagePlaceholder = document.getElementById('image-placeholder-icon');

        if (imageInput) {
            imageInput.addEventListener('change', function() {
                var file = imageInput.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        if (imagePreview) {
                            imagePreview.src = e.target.result;
                            imagePreview.style.display = 'block';
                            if (imagePlaceholder) {
                                imagePlaceholder.style.display = 'none';
                            }
                        }
                    }
                    reader.readAsDataURL(file);
                } else {
                    // Clear the preview if no file is selected
                    if (imagePreview) {
                        imagePreview.src = '';
                        imagePreview.style.display = 'none';
                        if (imagePlaceholder) {
                            imagePlaceholder.style.display = 'block';
                        }
                    }
                }
            });
        }

        // Handle the case where an image might already be present
        if (imagePreview && imagePreview.src) {
            imagePreview.style.display = 'block';
            if (imagePlaceholder) {
                imagePlaceholder.style.display = 'none';
            }
        }
    });
</script>

{% endblock%}

</body>


</html>




